a:hover{
    color:red;
}
.listGroup{
    /*border: 1px solid;*/
    width: 950px;
    margin: 0 auto;
    font-size: 16px;
}
.listGroupItem{

}
.listGroupItem div{
    height: 3em;
    line-height: 3em;
    padding-left: 20px;
    text-align: left;
    position: relative;
}
.listGroupItem span{
    text-align: right;
    position: absolute;
    right: 10px;
}
.editor{
    width: 950px;
    margin: 0 auto;
    position: relative;
}
.editor div{
    height: 28px;
    text-align: left;
    margin: 8px 0;
    padding: 0 10px; 
}
.editor div span{
    width: 45px;
    font-size: 16px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
}
.editor input{
    width: 320px;
    height: 28px;
    margin-top: -1px;
    line-height: 24px;
    padding: 0px 10px;
    position: absolute;
    top: 0;
}
.editor .submit{
    width: 50px;
    height: 28px;
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 28px;
    text-align: center;
    background: #ef7c62;
    display: inline-block;
    position: absolute;
    right: 10px;
    cursor:pointer;
}   

.delete{
    font-size: 14px;
    color:navy;
}

