body{
    background: #eee;
}
.mobilenav{
    display: none;
}
.block{
    /*border: 1px solid red;*/
    width: 1000px;
    background: white;
    margin: 0 auto;
    text-align: left;
}

.block ul{
    list-style: none;
    min-width: 310px;
    min-height: 230px;
    margin: 10px;
    padding: 8px;
    float: left;
}

.block ul li{
    margin: 4px 4px 0px 8px;
}

.block span{
    float: right;
}

h3{
    color: black;
    padding-bottom: 2px;
    border-bottom: 1px solid #666;
}

@media screen and (max-width: 550px) {
    body{
        background: white;
    }

    .block{
    width: 96%;
    background: white;
    margin: 0 auto;
    text-align: left;
    }
    .block ul{
        width: 100%;
        margin:0;
    }

}