html{
    height: 100%;
}
body{
    margin: 0px;
    background: linear-gradient(#CFF, #FCC);
    background-size: 100% 100%;
}

#wall{
    width: 950px;
    height: 80%;
    height: 360px;
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -475px;
}
form div{
    display: inline;
}
a{
    color: black;
    font-size: 15px;
    padding: 1px 6px;
    text-decoration: none;
}
a:hover{
    color: red;
}
.submit{
    font-size: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.submit:hover{
    color: red;
}
/*body{


    background-color: #CFF;
    background: -webkit-linear-gradient(#CFF,  #FCC);
    background: -o-linear-gradient(#CFF,  #FCC); 
    background: -moz-linear-gradient(#CFF,  #FCC); 
    background: linear-gradient(#CFF, #FCC)
}
*/
.login{
    position: absolute;
    bottom: 13%;
    left: 50%;
    margin-left: -283px;
}

@media screen and (max-width: 550px) {
    body{

    }
    #wall{
        width: 200px;
        height: 100px;
        margin-left: 10px;
        position: static;
    }
    .login{
        position: static;
        margin: 0;
    }
    .login input{
        display: block;
        width: 300px;
        height: 30px;
        line-height: 30px;
        padding-left: 4px;
        margin: 10px auto;
    }
    .login .submit {
        width: 304px;
        height: 30px;
        line-height: 26px;
        padding: 2px 0;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #ddd;
        background: white;
    }
    form div{
        width: 314px;
        display: block;
        margin: 10px auto;
    }
}