html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
    background: linear-gradient(#CFF, #FCC);
    background-size: 100% 100%;
}

#wall{
/*    width: 950px;
    height: 80%;
    height: 520px;*/
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -475px;
    border: 1px solid;
}

a{
    color: black;
    font-size: 15px;
    padding: 1px 6px;
    text-decoration: none;
}
a:hover{
    color: red;
}
.submit{
    font-size: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.submit:hover{
    color: red;
}
/*body{


    background-color: #CFF;
    background: -webkit-linear-gradient(#CFF,  #FCC);
    background: -o-linear-gradient(#CFF,  #FCC); 
    background: -moz-linear-gradient(#CFF,  #FCC); 
    background: linear-gradient(#CFF, #FCC)
}
*/
.login{
    position: absolute;
    bottom: 13%;
    left: 50%;
    margin-left: -245px;
}
