.conlum{
    width: 952px;
    height: 40px;
    margin: 10px auto 0;
    padding: 1px;
    /*position: fixed;*/
    /*top: 0;*/
    z-index: 200;
    border: 1px solid #ddd;
    background: white;
    text-align: left;
    vertical-align: middle;
}
.conlum span{
    width: 520px;
    overflow: hidden;
    font-size: 18px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding-left: 4px;
    /*text-align: 38px;*/
}
.conlum a{
    float: right;
}


.card-list{
    width: 952px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-bottom: none;
}
.card{
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb;
}
.post-owner{
    width: 218px;
    text-align: center;
    /*min-height: 200px;*/
    float: left;
    padding: 10px;
}
.post-content{
    width: 730px;
    float: left;
    text-align: left;
    min-height: 200px;
    padding: 20px;
    border-left: 1px solid #eee;
    background: #fcfcfc;
    position: relative;
}
.dinfo{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.post-content div a{
    width: 50px;
    font-size: 12px;
    color: #666;
}

.replay{
    width: 952px;
    margin: 0px auto;
    padding: 8px;
    border: 1px solid #eee;
    border-top: none;
}
/*.replay div{
    height: 30px;
    text-align: left;
    position: relative;
}*/
.replay div label{
    width: 50px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    display: inline-block;
}
.replay div button{
    width: 50px;
    height: 28px;
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 28px;
    text-align: center;
    background: #ef7c62;
    display: inline-block;
    color: black;
    position: absolute;
    right: 10px;
    cursor:pointer;
}

/*#comment-content{
    padding: 10px;
}*/
/*删除提示*/
.mask{
    height: 100%;
    width: 100%;
    display: none;
    position:fixed;

    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(120,120,120,0.2);
}
.confirm{
    padding: 20px;
    border: 1px solid;
    width: 320px;
    height: 120px;
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -160px;
    z-index: 11;
    background: white;
}
.confirm button{
    margin: 24px 10px;
}
.head{
    width: 100px;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    body{
        background: white;
    }

    .conlumn{
    width: 96%;
    background: white;
    margin: 0 auto;
    text-align: left;
    }
    .block ul{
        width: 100%;
        margin:0;
    }

}