<!DOCTYPE html>
{% load staticfiles %}
{% load donghu_template_tags %}
<html>
<head>
    <title>
    {% block title_block %}
        DonghuBBS
    {% endblock %}
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">

    {% block head_block %}
    {% endblock %}
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>
<body>
    {% get_nav_list category user %}
    <div>
<!--         <ul>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'donghu:login' %}">登录</a></li>
                <li><a href="{% url 'donghu:register' %}">注册</a></li>
            {% else %}
                <li><a href="{% url 'donghu:logout' %}">注销</a></li>
            {% endif %}
        </ul> -->
    </div>
<div>
    {% block body_block %}
    {% endblock %}
</div>
    {% block js_block %}
    {% endblock %}

<footer>
    <p>©2019 Donghu </p>
</footer>

</body>
</html>