<!DOCTYPE html>
{% load staticfiles %}
{% load donghu_template_tags %}
<html>
<head>
    <title>
    {% block title_block %}
        DonghuBBS
    {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    {% block head_block %}
    {% endblock %}
    
</head>
<body>
    <div class="mobilenav">东湖论坛<img id="menu" src="{% static 'img/menu.png' %}"></div>
    {% get_nav_list category user %}
    <div>
<!--         <ul>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'donghu:login' %}">登录</a></li>
                <li><a href="{% url 'donghu:register' %}">注册</a></li>
            {% else %}
                <li><a href="{% url 'donghu:logout' %}">注销</a></li>
            {% endif %}
        </ul> -->
    </div>
<div style="height: 98%;">
    {% block body_block %}
    {% endblock %}
</div>
    {% block js_block %}
    {% endblock %}

<!-- <footer>
    <p>©2019 Donghu </p>
</footer> -->
    <script type="text/javascript">
        var stat = 1;
        $("#menu").click(function(){
            if (stat==1){
                $(".nav").show();
                stat = 0;
            }else{
                $(".nav").hide();
                stat = 1;
            }
        })
    </script>
</body>
</html>