{% extends 'donghu/base.html' %}

{% load staticfiles %}
{% load donghu_template_filters %}

{% block title_block %}
    {{category_name}}
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">

{% endblock %}

{% block body_block %}
    <div class="body-block">
    <form class="search-form" id="user_form" method="post"
        action="{% url 'donghu:search' %}">
        {% csrf_token %}
        {% if category == 'vote' %}
        <a href="{% url 'donghu:add_vote' %}" class="btn vote">
            添加投票
        </a>
        {% endif %}

        <input class="search-text" type="text" size="50" required="" name="search" placeholder="Search" id="query" />
        <input class="btn btn-primary" type="submit" name="submit" value="搜索">
        <a class="btn" href="{% url 'donghu:advanced_search' %}" style="margin-left: -8px">高级搜索</a>
    </form>
    <div>
        {% if article_list %}

        <!-- Display search results in an ordered list -->
        <div class="listGroup">
            {% for item in top_list %}
                 <div class="listGroupItem">
                    <div>
                    {% if category == 'vote' %}
                        <span class="views">{{ item.vote_times|transform }}</span>
                        <a href="{% url 'donghu:vote_detail' item.id %}">{{ item.title }}</a>
                    {% else %}
                                <span style="color:red">[置顶]</span>
                                <a href="{% url 'donghu:detail' category item.author item.id %}">{{ item.title }}</a>
                            <span class="info">
                              {% if item.author == user and category == 'vote' %}
                                 <a class='delete' href="{% url 'donghu:delete' item.id category %}">删除</a>
                                {% endif %}
                             <a class="username" href="{% url 'donghu:personal' item.author.username item.author.id %}">{{item.author.username}}</a>
                              {{item.create_time|date:'m-d'}}
                        </span>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
            
            {% for item in article_list %}
                <div class="listGroupItem">
                    <div>

                    {% if category == 'vote' %}
                        <span class="views">{{ item.vote_times|transform }}</span>
                        <a href="{% url 'donghu:vote_detail' item.id %}">{{ item.title }}</a>
                    {% else %}
                        {% if not item.is_sticky %}
                        <span class="views">{{ item.views|transform }}</span>
                        {% if item.is_highlight %}
                                <span style="color:red; font-weight: 700;">精</span>
                                <a style="color: #996600" href="{% url 'donghu:detail' category item.author item.id %}">{{ item.title }}</a>
                        {% else %}
                                <a href="{% url 'donghu:detail' category item.author item.id %}">{{ item.title }}</a>
                        {% endif %}
                        {% endif %}
                    {% endif %}

                    <span class="info">
                    {% if item.author == user and category == 'vote' %}
                        <a class='delete' href="{% url 'donghu:delete' item.id category %}">删除</a>
                    {% endif %}
                    <a class="username" href="{% url 'donghu:personal' item.author.username item.author.id %}">{{item.author.username}}</a>
                    {{item.create_time|date:'m-d'}}
                    </span>
                    </div>
<!--                     <p class="listGroupItemText">{{ item.content }}</p> -->
                        
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
    <div id="pageindex">
    </div>
    {% if category != 'vote' %}
    <!-- 编辑器 -->
    <div class="editor">
        <form  autocomplete="off" method="post" action="{% url 'donghu:addarticle'  %}">
            {% csrf_token %}
            <input type="text" name="module" value="{{category}}" style="display: none;">
            <div>
                <span>标题</span>
                <input id="title" type="text" name="title" maxlength="48" required="" >
                <input id="submit" type="submit" class="submit"   value="发表">
            </div>
            <div>
                <textarea id="content" required="" name="content"></textarea>
            </div>
        </form>
    </div>
    
    <script type="text/javascript">
        if ({{pagenums}}>1){
            var link = ""
            if({{curpage}}!=1){
                link += "<a href='/category/{{category}}/page="+
                ({{curpage}}-1)+"'>prev</a>"
            }
            for(var i=1; i<={{pagenums}}; i++){
                link += "<a href='/category/{{category}}/page="+ i+"'>"+i+"</a>"
            }
            if({{curpage}}!={{pagenums}}){
                link += "<a href='/category/{{category}}/page="+
                ({{curpage}}+1)+"'>next</a>"
            }
            $("#pageindex").html(link)
        }
    </script>
    {% endif %}
</div>
{% endblock %}