<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
</head>
<body>
    <div id="wall">
        <h1>东湖论坛</h1>
    </div>
    <div class="login">
        <div id="error_message">{{ errors }}</div>
    <form id="login" method="post" action="/login/" >
        {% csrf_token %}
        <input id="username" type="text" name="username" required="" value="" placeholder="用户名">
        <input id="password" type="password" name="password" required="" placeholder="密码">
        <input class="submit" type="submit" name="submit" value="登录">
    <div>
    <a href="/auth/password_reset">忘记密码</a>
    <a href="{% url 'donghu:register' %}">注册</a>
    <a href="{% url 'donghu:index' %}">游客</a>
    </div>
    </form>
    </div>
    <div class="clear"></div>
    <script type="text/javascript" src="{% static 'js/wall.js' %}"></script>
</body>
</html>